:root {
  --hour: 0deg;
  --minute: 0deg;
  --second: 0deg;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #dfdfdf;
}

.clock {
  /* height: clamp(240px, 50rem, 100%); */
  aspect-ratio: 1;
  width: clamp(240px, 70rem, 90%);
  aspect-ratio: 1;
  background-color: #dfdfdf;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: relative;
}

.hour {
  width: 5%;
  height: 5%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(calc(var(--hour) - 90deg));
  border-radius: 100vw;
}

.hour::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 700%;
  height: 100%;
  background-color: rgb(72, 62, 116);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 100vw;
}

.minute {
  width: 5%;
  height: 5%;
  background-color: rgb(28, 106, 207);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(calc(var(--minute) - 90deg));
  border-radius: 100vw;
}

.minute::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 900%;
  height: 100%;
  background-color: rgb(28, 106, 207);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 100vw;
}

.second {
  width: 5%;
  height: 5%;
  background: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(calc(var(--second) - 90deg));
  border-radius: 100vw;
}

.second::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 50%;
  width: 800%;
  height: 15%;
  background-color: rgb(0, 0, 0);
  border-radius: 100vw;
}
